<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="/css/app.css" rel="stylesheet" type="text/css"/>
  <link href="/css/fonts.css" rel="stylesheet" type="text/css"/>
  <link href="/css/form-elements.css" rel="stylesheet" type="text/css" />
  <link href="/css/icons.css" rel="stylesheet" type="text/css"/>
  <link href="/css/main.css" rel="stylesheet" type="text/css"/>
  <link href="/css/utility.css" rel="stylesheet" type="text/css"/>
  <link href="/css/variables.css" rel="stylesheet" type="text/css"/>
</head>

<body class="body">
  <div class="form-container">
    <div class="mt-3 mb-1">
      <h4 class="center"> Logo </h4>
      <h4 id="message" class="d-none"></h4>
    </div>
       <% let name='user'; %>
      <%if(data.first_name && data.last_name){%>
        <% name = data.first_name +' '+ data.last_name} else{%>
        <% name = data.login_id %>
      <%}%>
    <center> Welcome <strong style="font-weight: 900;"><%-name%> </strong>.</center>
    <div>
      <form class="form-content" id="resetPassword" method="POST" data-id="<%-data.login_id%>">
        <div>
          <input type="password" placeholder="New password" name="password" />
        </div>
        <div>
          <input type="password" placeholder="Repeat new password" name="repeat_password" />
        </div>

        <div align="center">
          <input class="btn-primary wide mb-2" type="submit" value="Reset password"/>
        </div>
      </form>
    </div>
  </div>

<style>
    .d-none{
      display: none;
    }
    .d-block{
      display: block;
    }
    #message{
      text-align: center;
    }
    .success {
      color: green;
    }
    .danger {
      color:  #F55536
    }
    body {
      display: grid;
      background-color: rgb(243, 243, 243);
      place-items: center;
      height: 100vh;
    }
    center, #message{
      font-size: 15px;
    }
    .form-container {
      width: 400px;
      border-radius: 17px;
      padding: 0 30px;
      background-color: white;
      height: auto;
      display: grid;
      gap: 1em;
      box-shadow: 0 43px 45px rgba(0, 0, 0, 0.17);
      grid-template-columns: auto;
      padding-bottom: 65px;
    }

    /* form */

    .form-content {
      display: grid;
      gap: 20px;
      background-color: white;
    }

    .label-right {
      display: flex;
      justify-content: flex-end;
    }

    @media (max-width: 786px) {
      .form-container {
        width: 90%;
      }
    }

    .logo {
      margin: 0 auto;
      margin-top: 40px;
    }
  </style>
  

<script type="text/javascript">
  (async ()=>{
    // console.log(data)
    const form = document.body.querySelector("#resetPassword"),
    serverUri = "http://localhost:3000/api/v1",
    message = document.body.querySelector("#message");
    

    async function sendMail (e){
      e.preventDefault();

      const data = {
          password:this.password.value,
          repeat_password: this.repeat_password.value,
          login_id: this.getAttribute("data-id")
        },
        config = {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify(data)
        };


      // try{
        const res = await fetch(`${serverUri}/confirmResetPassword`, config);
        const json = await res.json();
        console.log(json)
        
        if(json.okay){
          message.className = "d-block success";
          message.innerText = json.message;
        }else {
          message.className = "d-block danger";
          message.innerText = json.error;
        }
      
    }

    form.addEventListener("submit", await sendMail);


  })()
</script>
</body>

</html>